body{
  background-image: url("https://i.pinimg.com/originals/7a/c9/0a/7ac90adc30f576f14ffd1bcd9eb7c0e5.jpg")
 
}

header{
  height: 300px ;
  padding: 10px ;
  padding-left: 50px;
  margin-left: 20px;
  margin-right: 40px;
  background-color: rgba(37,142,255,1)

}

